@import "config/app.scss";

//@import "_variables.scss";

body {
  background: #f3f5fc;
  //hyphens: none;
}

.hidden {
  display: none !important;
}

/*header*/
header {
  position: relative;

  h1 {
    position: absolute;
    left: 40px;
    top: 40px;

    img {
      width: 31px;
    }
  }
}
/*header*/

/*container-encryptor*/

#container-encryptor {
  padding: 40px 0;
  padding-right: 40px;
  display: flex;

  #entry {
    margin-top: 80px;
    margin-left: clamp(35px, 8.2vw, 125px);
    //margin-left: min(125px,8.68vw);
    min-width: 475px;
    width: 680px;
    padding-right: 25px;

    #entry__input {
      font-family: "Inter";
      font-style: normal;
      font-weight: 400;
      font-size: clamp(27.8px, 2.22vw, 32px);
      //line-height: 150%;
      /* identical to box height, or 48px */
      outline: none;
      color: var(--dark-blue-300);
      height: 500px;
      width: 100%;

      //padding-right: 120px;

      textarea {
        height: 100%;
        width: 100%;
        outline: none;
        /*&:focus {
          border: 1px solid var(--dark-blue-300);
          border-radius: 10px;
        }*/

        &::placeholder {
          color: var(--dark-blue-300);
        }
      }
    }

    #entry__alert {
      margin-top: 25px;
      p {
        display: flex;
        align-items: center;
        font-size: 14px;

        color: var(--gray-400);

        opacity: 0.8;
        position: relative;

        img {
          height: 16px;
          width: 16px;
          margin-right: 8px;
        }
        /*
        &::before {
          content: "";
      
          background: url("../img/bi_exclamation-circle-fill.svg") no-repeat;
           width: 20px;
    height: 20px;
    margin:auto 0;

          float: left;
        }*/
      }
    }

    #entry_buttons {
      margin-top: 14px;
      display: flex;
      column-gap: clamp(17.25px, 1.74vw, 25px);
      //justify-content: space-between;
      button {
        display: flex;
        justify-content: center;
        align-items: center;
        //min-width: 275px;
        //width: 328px;
        // width: 275px;

        width: calc(50% - 12.5px);
        height: 67px;
        border: 1px solid var(--dark-blue-300);
        border-radius: 24px;
        font-family: "Inter";
        font-style: normal;
        font-weight: 400;
        transition: 0.9s all;

        cursor: pointer;

        &:hover{
          filter: brightness(1.19);
        }

        &:active {
          
          filter: brightness(0.7);
          transform: scale(0.96);
         
        }
      }

      #encriptar {
        background-color: var(--dark-blue-300);
        color: #ffff;
      }

      #desencriptar {
        background: var(--light-gray);
        border: 1px solid var(--dark-blue-300);
        color: var(--dark-blue-300);
      }
    }
  }

  /*display*/
  #display {
    //justify-self: end;
    width: 400px;
    
   
    height: 719px;
    /* White */
    background: #ffffff;
    /* shadow */
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
    border-radius: 32px;
    padding: 32px 32px;
    margin-left: auto;

    /*inactive*/
    #inactive {
      --padding-top: 133px;
      padding-top: var(--padding-top);

      #inactive__text {
        margin-top: 28px;
        text-align: center;
        color: var(--gray-500);

        h3 {
          font-family: var(--Inter);
          font-style: normal;
          font-weight: 700;
          font-size: 24px;
          margin-bottom: 16px; //rep
        }

        p {
          font-family: var(--Inter);
          font-style: normal;
          font-weight: 400;
          font-size: 16px;
        }
      }
    }
    /*inactive*/

    /*active*/
    #active {
      //padding:32px 0;
      //position: relative;
      height: 100%;
      display:flex;
      flex-direction: column;
      justify-content: space-between;
      font-family: var(--Inter);
      font-style: normal;
      font-weight: 400;
      font-size: 18px;
      line-height: 150%;
      hyphens: none;
      color: var(--gray-400);
      
      #result{
        hyphens:auto;
        
      }

      button {
        //position: absolute;
        //top: 100%;
        //transform: translateY(-100%);
        margin-top:25px;
        display: flex;
        justify-content: center;
        align-items: center;
        // width: 336px;
        width: 100%;
        height: 55px;
        border: 1px solid var(--dark-blue-300);
        border-radius: 24px;
        font-family: var(--Inter);
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        //line-height: 19px;
        text-align: center;
        color: var(--dark-blue-300);

        &:hover {
          filter: brightness(1.8);
          cursor: pointer;
        }
      }
      
    }
    /*active*/
  }
  /*display*/
}
/*container-encryptor*/

/*Footer*/

footer{
  margin-top:45px;
  margin-bottom:45px;
 

  h3{
    color:var(--dark-blue-300);
    font-family: "Inter";
   text-align: center;
   //display:flex;
   //justify-content: center;
   

    a{
     //margin-left:3px;
     display: inline;
      font-weight: bold;
      
      &:hover{
        filter:brightness(1.3);
      }

    }

  }



}

/*Footer*/

@media (max-width: 879px) {
  /*container-encryptor*/

  #container-encryptor {
    padding: 40px 40px; //rep
    //padding-right: 40px;//rep
    display: flex;
    flex-direction: column; //rep

    #entry {
      margin-top: 80px;
      margin-left: 0; //rep
      //margin-left: min(125px,8.68vw);
      min-width: inherit; //rep
      width: 100%; //rep
      padding: 0; //rep

      #entry__input {
        font-family: "Inter";
        font-style: normal;
        font-weight: 400;
        font-size: clamp(27.8px, 2.22vw, 32px);
        //line-height: 150%;
        /* identical to box height, or 48px */
        outline: none;
        color: var(--dark-blue-300);
        height: 500px;
        width: 100%;

        //padding-right: 120px;

        textarea {
          height: 100%;
          width: 100%;
          outline: none;
          /*&:focus {
          border: 1px solid var(--dark-blue-300);
          border-radius: 10px;
        }*/

          &::placeholder {
            color: var(--dark-blue-300);
          }
        }
      }

      #entry__alert {
        margin-top: 25px;
        p {
          display: flex;
          align-items: center;
          font-size: 14px;

          color: var(--gray-400);

          opacity: 0.8;
          position: relative;

          img {
            height: 16px;
            width: 16px;
            margin-right: 8px;
          }
          /*
        &::before {
          content: "";
      
          background: url("../img/bi_exclamation-circle-fill.svg") no-repeat;
           width: 20px;
    height: 20px;
    margin:auto 0;

          float: left;
        }*/
        }
      }

      #entry_buttons {
        margin-top: 14px;
        display: flex;
        column-gap: inherit; //rep
        //flex-wrap: wrap;//rep
        //justify-content: space-between;
        button {
          display: flex;
          justify-content: center;
          align-items: center;

          //width: 328px;
          // width: 275px;

          width: calc(50% - 7.5px);
          height: 67px;
          border: 1px solid var(--dark-blue-300);
          border-radius: 24px;
          font-family: "Inter";
          font-style: normal;
          font-weight: 400;

          cursor: pointer;

          &:active {
            filter: brightness(1.1);
          }
        }

        #encriptar {
          background-color: var(--dark-blue-300);
          color: #ffff;
          margin-right: 15px;
        }

        #desencriptar {
          background: var(--light-gray);
          border: 1px solid var(--dark-blue-300);
          color: var(--dark-blue-300);
        }
      }
    }

    /*display*/
    #display {
      //justify-self: end;
      //max-width: 400px;//rep
      //min-width: 285px;//rep
      max-width: inherit; //rep
      width: 100%; //rep
      min-height: 140px; //rep
      height: auto; //rep
      margin-top: 66px; //rep
      /* White */
      background: #ffffff;
      /* shadow */
      box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
      border-radius: 32px;
      padding: 32px 32px;
      margin-left: auto;

      /*inactive*/
      #inactive {
        //--padding-top: 133px;//rep
        //padding-top: var(--padding-top);//rep
        padding: 0; //rep

        img {
          //rep
          display: none;
        }

        #inactive__text {
          margin-top: 28px; //rep
          margin: 0; //rep
          display: flex; //rep
          flex-direction: column; //rep
          justify-content: center; //rep
          align-items: center; //rep
          text-align: center;
          color: var(--gray-500);

          h3 {
            font-family: var(--Inter);
            font-style: normal;
            font-weight: 700;
            font-size: 24px;
            margin-bottom: 12px;
          }

          p {
            font-family: var(--Inter);
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
          }
        }
      }
      /*inactive*/

      /*active*/
      #active {
        //padding:32px 0;
     
        height: 100%;

        font-family: var(--Inter);
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 150%;
        hyphens: none;
        color: var(--gray-400);

        button {
        
          display: flex;
          justify-content: center;
          align-items: center;
          // width: 336px;
          width: 100%;
          height: 55px;
          border: 1px solid var(--dark-blue-300);
          border-radius: 24px;
          font-family: var(--Inter);
          font-style: normal;
          font-weight: 400;
          font-size: 16px;
          //line-height: 19px;
          text-align: center;
          color: var(--dark-blue-300);

          &:hover {
            filter: brightness(1.8);
            cursor: pointer;
          }
        }
      }
      /*active*/
    }
    /*display*/
  }
}

@media (max-width: 500px) {
  /*header*/
  header {
    h1 {
      left: 30px;
      top: 30px;
    }
  }
  /*header*/

  /*container-encryptor*/

  #container-encryptor {
    padding: 30px 30px; //rep//rep
    //padding-right: 40px;//rep
    display: flex;
    flex-direction: column; //rep

    #entry {
      margin-top: 80px;
      margin-left: 0; //rep
      //margin-left: min(125px,8.68vw);
      min-width: inherit; //rep
      width: 100%; //rep
      padding: 0; //rep

      #entry__input {
        font-family: "Inter";
        font-style: normal;
        font-weight: 400;
        font-size: clamp(27.8px, 2.22vw, 32px);
        //line-height: 150%;
        /* identical to box height, or 48px */
        outline: none;
        color: var(--dark-blue-300);
        height: 500px;
        width: 100%;

        //padding-right: 120px;

        textarea {
          height: 100%;
          width: 100%;
          outline: none;
          /*&:focus {
            border: 1px solid var(--dark-blue-300);
            border-radius: 10px;
          }*/

          &::placeholder {
            color: var(--dark-blue-300);
          }
        }
      }

      #entry__alert {
        margin-top: 25px;
        p {
          display: flex;
          align-items: center;
          font-size: 14px;

          color: var(--gray-400);

          opacity: 0.8;
          position: relative;

          img {
            height: 16px;
            width: 16px;
            margin-right: 8px;
          }
          /*
          &::before {
            content: "";
        
            background: url("../img/bi_exclamation-circle-fill.svg") no-repeat;
             width: 20px;
      height: 20px;
      margin:auto 0;
  
            float: left;
          }*/
        }
      }

      #entry_buttons {
        margin-top: 14px;
        display: flex;
        column-gap: inherit; //rep
        flex-direction: column; //rep//rep
        //justify-content: space-between;
        button {
          display: flex;
          justify-content: center;
          align-items: center;

          //width: 328px;
          // width: 275px;

          width: 100%; //rep//rep
          height: 67px;
          border: 1px solid var(--dark-blue-300);
          border-radius: 24px;
          font-family: "Inter";
          font-style: normal;
          font-weight: 400;

          cursor: pointer;

          &:active {
            filter: brightness(1.1);
          }
        }

        #encriptar {
          background-color: var(--dark-blue-300);
          color: #ffff;
          margin-right: 0; //rep//rep
          margin-bottom: 15px; //rep//rep
        }

        #desencriptar {
          background: var(--light-gray);
          border: 1px solid var(--dark-blue-300);
          color: var(--dark-blue-300);
        }
      }
    }

    /*display*/
    #display {
      //justify-self: end;
      //max-width: 400px;//rep
      //min-width: 285px;//rep
      max-width: inherit; //rep
      width: 100%; //rep
      min-height: 140px; //rep
      height: auto; //rep
      margin-top: 66px; //rep
      /* White */
      background: #ffffff;
      /* shadow */
      box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
      border-radius: 32px;
      padding: 32px 32px;
      margin-left: auto;

      /*inactive*/
      #inactive {
        //--padding-top: 133px;//rep
        //padding-top: var(--padding-top);//rep
        padding: 0; //rep

        img {
          //rep
          display: none;
        }

        #inactive__text {
          margin-top: 28px; //rep
          margin: 0; //rep
          display: flex; //rep
          flex-direction: column; //rep
          justify-content: center; //rep
          align-items: center; //rep
          text-align: center;
          color: var(--gray-500);

          h3 {
            font-family: var(--Inter);
            font-style: normal;
            font-weight: 700;
            font-size: 24px;
            margin-bottom: 12px;
          }

          p {
            font-family: var(--Inter);
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
          }
        }
      }
      /*inactive*/

      /*active*/
      #active {
        //padding:32px 0;
        position: relative;
        height: 100%;

        font-family: var(--Inter);
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 150%;
        hyphens: none;
        color: var(--gray-400);

        button {
        
          display: flex;
          justify-content: center;
          align-items: center;
          // width: 336px;
          width: 100%;
          height: 55px;
          border: 1px solid var(--dark-blue-300);
          border-radius: 24px;
          font-family: var(--Inter);
          font-style: normal;
          font-weight: 400;
          font-size: 16px;
          //line-height: 19px;
          text-align: center;
          color: var(--dark-blue-300);

          &:hover {
            filter: brightness(1.8);
            cursor: pointer;
          }
        }
      }
      /*active*/
    }
    /*display*/
  }
}
